#pfs6pfs6pfs6
# NOTE: Our CUDA version is 11.3

# base ----------------------------------------
Cython
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python==4.5.4.58
Pillow
PyYAML>=5.3.1
scipy>=1.4.1
tqdm>=4.41.0
sklearn
lap
cython-bbox
timm
yacs

# torch -------------------------------------
### If you want to use pytorch 1.10.0 + CUDA 11.3 (Our env), please use the below conda command to install
## conda install pytorch==1.10.0 torchvision==0.11.0 torchaudio==0.10.0 cudatoolkit=11.3 -c pytorch -c conda-forge
tensorboard>=2.2
torch>=1.10.0
torchvision>=0.8.1

# logging -------------------------------------
# wandb

# plotting ------------------------------------
seaborn>=0.11.0
pandas

# export --------------------------------------
# coremltools>=4.1
# onnx>=1.8.1
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
thop  # FLOPS computation
pycocotools>=2.0  # COCO mAP
